[submodule "bicep-types"]
	path = bicep-types
	url = https://github.com/Azure/bicep-types
[submodule "azure-rest-api-specs"]
	path = azure-rest-api-specs
	url = https://github.com/Azure/azure-rest-api-specs
[submodule "azure-resource-manager-schemas"]
	path = azure-resource-manager-schemas
	url = https://github.com/Azure/azure-resource-manager-schemas
